@import "tailwindcss";
html,
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    background: #fff;
    transition: margin-left 0.3s ease;
    z-index: 1000;
}

/* Default hidden di mobile */
@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -240px;
    }
    .sidebar.show {
        margin-left: 0;
    }
}

/* Desktop: selalu tampil */
@media (min-width: 992px) {
    .main-content-admin {
        padding-left: 240px;
        height: 100vh;
    }
}
h1,
h2,
h3,
.fw-bold {
    font-family: "Merriweather", serif;
}

body,
p,
li {
    font-family: "Poppins", sans-serif;
}
